html, body, .row, .container-fluid{
    font-family: 'Lato', sans-serif;
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;
    height: 100%;
    width: 100%;
}

.row{
    height: 100%;
}

.container-fluid{
    width: 100%;
    background-color: #181921;
}

.bg-menu{
    background-color: #252831;
    padding-top: 45px;
    width: 100%;
}

.logo{
    text-align: center;
    margin-bottom: 150px;
}

.logo img{
    width: 15%;
}

.logo h4{
    color:#9da5b9;
    font-size: 17px;
    text-align: center;
    display: inline;
    vertical-align: middle;
}

.nav-item{
    margin-bottom: 15px;
}

.section{
    color: #ABB2C6;
}

.section:hover{
    transition: 0.5s;
    color: #89CCFE;
    border-left: solid 2px #89CCFE;
    margin-left: 20px;
}

.icons{
    width: 100%;
    text-align: right;
    margin-top: -10px;
}

.rounded-pill{
    background-color:#242732
}

.calendar{
    background-color: #242732;
    border-radius: 20px;
}

.total-customer{
    background-color: #242732;
    width: 100%;
    border-radius: 20px;
}

.total-revenue{
    background-color: #242732;
    width: 100%;
    border-radius: 20px;
}
.total-profit{
    background-color: #242732;
    width: 100%;
    border-radius: 20px;
}

.total{
    display: flex;
    justify-content: space-between;
}

.graph{
    width: 650px;
    height: 300px;
}

.comm{
    background-color: #242732;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
}